/* 
.para {
    display: flex;
    height: 60vh; 
    width: 100%;
    margin-top: 30px;
  }
  .left {
    
    
    display: flex;
   
    
    width: 30%;
    padding: 10px;
  }
  .right {
    flex: 1; 
    display: flex;
    justify-content: center;
    padding: 10px;
    
    
  }
  p {
    margin: 0; 
    text-align: left;
    font-size: 16px; 
    line-height: 2; 
  } */