.login_dashboard{
    width: 75%;
    margin-top: 20px;
    padding: 13px 0px;
    border-radius: 10px;
    margin-left: 50px;
    font-weight: 600;
    text-align: start;
    padding-left: 30px;
}
.login_dashboard.active{
    background-color: brown;
    color: white;
}
