.footer{
    /* background-color: rgb(7, 37, 63); */
    color: black;
    /* border-top: 1px solid black; */
}
.row{
    border: none;
}
.footer a{
    color: black;
}
.mobile-social-icon a{
    padding: 0px 10px;
    font-size: 20px;
    /* translate: scale(1.5); */
}
.mobile-social-icon a:hover{
    transition: all 2s ease-in-out;
    transform: scale(1.8);

}