.user_sidebar{
    width: 250px;
    background-color: #f4f4f4;
    height: 90vh;
   
    
    box-shadow: 10px 10px 15px rgba(2, 2, 2, 0.3);
    border-right: 1px solid black;
}
.user_sidebar ul{
    padding-top: 20px;
}
.user_sidebar ul li{
   
    list-style: none;
   
    padding: 10px;
} 
.sidebar_ul li:hover{
    background-color: rgb(241, 238, 234);
}

